.venv
*.db
__pycache__
.vscode
storage
ISIC2018_Task3_Validation_Input
ISIC2018_Task3_Validation_GroundTruth
ISIC2018_Task3_Test_Input
Skin_Cancer_Weights.hdf5
TODO
flask_session
*.txt
migrations
model.h5